* {
    color: purple;
}
div {
    color: black;
}

.alert-text
{
    color:red;
}

#title
{
    background-color: red;
}
.subsection.header {
    color: red;
}

.subsection{
    color:blue;
}

.main .list{
    color:red;
}
.parent {
    color: blue;
}

.child {
    color:red;
}